<%= form_for @group do |f| %>
 
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@group.errors.count, "error") %> prohibited
        this group from being saved:
      </h2>
      <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <h3>Add group members</h3>
    <div id="member_choices">
        <%= render 'member_choice' %>
    </div>

  </p>

  <a href="javascript:;" id="addNewMember">Add New Member</a>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>