<html>
<body class="g_body">
    <div class="g_header">
        <h1 class="g_center" >My Groups</h1>
    </div>
    <div class="g_content">
    <div id="inner">
        <table class="gtable">
          <tr>
              <th><h2 class="g_center">Name</h2></th>
            <th><h2 class="g_center">Description</h2></th>
              <th><h2 class="g_center">Members</h2></th>
              <th><h2 class="g_center">Action</h2></th>
          </tr>

          <% @groups.each do |group| %>

<<<<<<< HEAD
            <% if not current_user.group_ids.include? group.id %>
              <% next %>
=======
  <% @groups.each do |group| %>
    
    <% if not current_user.group_ids.include? group.id %>
      <% next %>
    <% end %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.description %></td>
      <td>
        
        <% if group.group_members != nil %>
            <% group.group_members.each do |member| %>
                <div class="group-members-item">
                    <p>
                        <% if member.kind_of?(User) %>
                          <% user = member %>
                        <% else %>
                          <% user = User.find(member) %>
                        <% end %>
                        <%= user.first_name %>
                        <%= user.last_name %>
                        ( <%= user.email %> )
                    </p>
                </div>
>>>>>>> refs/remotes/origin/master
            <% end %>
            <tr>
              <td><%= group.name %></td>
              <td><%= group.description %></td>
              <td>
                <% puts group.id %>

                <% if group.group_members != nil %>
                    <% group.group_members.each do |member| %>
                        <div class="group-members-item">
                            <p>
                                <% if member.kind_of?(User) %>
                                  <% user = member %>
                                <% else %>
                                  <% user = User.find(member) %>
                                <% end %>
                                <%= user.first_name %>
                                <%= user.last_name %>
                                ( <%= user.email %> )
                            </p>
                        </div>
                    <% end %>
                <% end %>
              </td>
              <td><%= link_to 'Show', group_path(group) %>
              <%= link_to 'Edit', edit_group_path(group) %>
              <%= button_to 'Destroy', group_path(group),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }%></td>
            </tr>
            <% end %>
        </table>
        <div class="content">
            <button><%= link_to 'Back', welcome_homepage_path %></button>   
        </div>
        
    </div>
    </div>
    
</body>
</html>