<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Group members</th>
  </tr>

  <% @groups.each do |group| %>
    
    <% if not current_user.group_ids.include? group.id %>
      <% next %>
    <% end %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.description %></td>
      <td>
        <% puts group.id %>
        
        <% if group.group_members != nil %>
            <% group.group_members.each do |member| %>
                <div class="group-members-item">
                    <p>
                        <% if member.kind_of?(User) %>
                          <% user = member %>
                        <% else %>
                          <% user = User.find(member) %>
                        <% end %>
                        <%= user.first_name %>
                        <%= user.last_name %>
                        ( <%= user.email %> )
                    </p>
                </div>
            <% end %>
        <% end %>
      </td>
      <td><%= link_to 'Show', group_path(group) %></td>
      <td><%= link_to 'Edit', edit_group_path(group) %></td>
      <td><%= button_to 'Destroy', group_path(group),
              method: :delete,
              data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', welcome_homepage_path %>