<body>
    
    <div class="header">
        <div id="left">
            <h1>WhenIsBest</h1>
            <i><p id="greeting">Hi <%= current_user.first_name %>!</p></i>
            <p id="logout">Not <%= current_user.first_name %>? Click <%= link_to 'here', login_path %>.</p>
            <p id="logout"> <%= link_to 'Log out', root_path %>.</p>
        </div>
        <div id="right">
            <button id="white-button"><%= link_to 'Settings', edit_user_path(current_user) %></button>
        </div>
    </div>
    
    <div class="create-group">
        
        <div class="group-header">
            <h3>Create New Group</h3>
            <button id="white-button"><%= link_to 'Cancel', welcome_homepage_path %></button>
        </div>
        
        <div class="group-body">
            <%= render 'form' %>

            <div style="display: none;" id="new_member_form">
                <%= render partial: "member_choice", locals: {group: false} %>
            </div>
        </div>

    </div>

</body>

