<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Group members:</strong>
  <%= @group.group_members %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', welcome_homepage_path %>
<%= button_to 'Delete', group_path(@group),
    method: :delete,
    data: { confirm: 'Are you sure?' }%>

