<body>
    
    <div class="header">
        <div id="left">
            <h1>WhenIsBest</h1>
            <i><p id="greeting">Hi <%= current_user.first_name %>!</p></i>
            <p id="logout">Not <%= current_user.first_name %>? Click <%= link_to 'here', login_path %>.</p>
        </div>
        <div id="right">
            <button id="white-button"><%= link_to 'Settings', edit_user_path(current_user) %></button>
        </div>
    </div>
    
    <div class="content">
        
        <div class="sidebar">

            <div id="group-page" class="groups">
                <h3><%= @group.name %></h3>
                <button id="white-button"><%= link_to 'Edit group', edit_group_path(@group) %></button>
                <button id="white-button"><%= link_to 'Manage groups', groups_path %></button>
                <button id="white-button"><%= link_to 'Back to homepage', welcome_homepage_path %></button>
            </div>

                <div class="group-info">
                    
                    <div class="description">
                        <h5>Description</h5>
                        <p>
                            <%= @group.description %>
                        </p>
                    </div>
                    
                    <div class="group-members">
                        <h5>Group members</h5>
                        <p>
                            <% @group.group_members.each do |member| %>
                                <div class="group-members-item">
                                    <p>
                                        <%= member.first_name %>
                                        <%= member.last_name %>
                                        ( <%= member.email %> )
                                    </p>
                                </div>
                            <% end %>
                        </p>
                    </div>
                    
                </div>

        </div>
        
        <div class="calendar">
            <div class="calendar-header" style="background-color:#44af61">
                <h3><%= @group.name %>'s calendar</h3>
                
                <%= link_to("Suggest an event", new_statics_path(:group => @group.id, :members => @group.group_members)) %>
            </div>
            <div class="calendar-body">
                <%= week_calendar do |date| %>
                <center><%= date.strftime("%b %d") %></center>
                <% end %>
            </div>
        </div>
    
        
    </div>
    
</body>
