<body>
    
    <div class="header">
        <h2>WhenIsBest</h2>
        <p>Hello, User! This is what your group's schedule looks like this week.</p>
    </div>
    
    <div class="content">
        
        <div class="sidebar">

            <div id="group-page" class="groups">
                <h3><%= @group.name %></h3>
                <button><%= link_to 'Edit group', edit_group_path(@group) %></button>
            </div>

                <div class="group-info">
                    
                    <div class="description">
                        <h5>Description</h5>
                        <p>
                            <%= @group.description %>
                        </p>
                    </div>
                    
                    <div class="group-members">
                        <h5>Group members</h5>
                        <p>
                            <%= @group.group_members %>
                        </p>
                    </div>
                    
                    <div>
                        <%= button_to 'Delete', group_path(@group),
                            method: :delete,
                            data: { confirm: 'Are you sure?' }%>
                    </div>
                    
                </div>

        </div>
        
        <div class="calendar">
            <div class="calendar-header" style="background-color:#ffca89">
                <h3>Your Group's Calendar</h3>
                <button >Suggest an event</button>
            </div>
            <div class="calendar-body">
                <p>This is where the calendar should be.</p>
            </div>
        </div>
        
    </div>
    
</body>
