<%= form_for @user do |f| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p> <%= f.label "First Name" %><br>
      <%= f.text_field :first_name %>
  </p>

  <p>
      <%= f.label "Last Name" %><br>
      <%= f.text_field :last_name %>
  </p>
 
  <p>
      <%= f.label "Email" %><br>
      <%= f.text_field :email %>
  </p>
<br>
  <p>
    <%= f.label "I'm available from"%>...<br>
    <%= f.select :start_time, ['12','1','2','3','4','5','6','7','8','9','10','11'] %>

    <%= f.select :start_md, ["AM","PM"] %>
  </p>

  <p>
    <%= f.label "Until"%>...<br>
    <%= f.select :end_time, ['12','1','2','3','4','5','6','7','8','9','10','11'] %>

    <%= f.select :end_md, ["AM","PM"]%>
  </p>
<br>

  <p>
      <%= f.time_zone_select :time_zone, nil, {:include_blank => false} %>
  </p>
  <br>

  <p>
      <%= f.submit "Change Password", id: "white-button" %> <%= f.submit "Update Settings", id: "white-button" %>
  </p>
 
<% end %>
