<p>
  <%= @user.first_name %> <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %> 
</p>

<p>
  <strong>Time Zone:</strong>
  <%= @user.time_zone %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> | 
<%= link_to 'Back to homepage', welcome_homepage_path %>