<% require 'algorithm_helper.rb' %>
<% require 'months_conversion_helper.rb' %>
<% nums_to_months = {1 => "January", 2 => "February", 3 => "March", 4 => "April", 5 => "May", 6 => "June", 7 => "July", 8 => "August", 9 => "September", 10 => "October", 11 => "November", 12 => "December"} %>
<%= form_for @calendar_event do |f| %>
 
  <% if @calendar_event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@calendar_event.errors.count, "error") %> prohibited
        this calendar_event from being saved:
      </h2>
      <ul>
        <% @calendar_event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p> <%= f.label "Name of event:" %><br>
      <%= f.text_field :name %>
  </p>

  <p>
      <% check = @calendar_event.month.to_i %>
      <% if check != 0 %>
        <% month = nums_to_months[check] %>
        <% puts "nums_to_months #{month}" %>
      <% else %>
        <% month = @calendar_event.month %>
      <% end %>
      
      <%= f.label "Date:" %><br>
      <%= f.select :month, @calendar_event.months, :selected => month %> <%= f.select :day, @calendar_event.days %> <%= f.select :year, @calendar_event.years %>  
  </p>
 
  <p>
    <%= f.label "Time:"%><br>
    <%= f.select :hour, ['12','1','2','3','4','5','6','7','8','9','10','11'] %>

    <%= f.select :minutes, ["00","15","30","45"]%>

    <%= f.select :meridiem, ["AM","PM"]%>
  </p>

  <p>
    <%= f.label "End Time:"%><br>
    <%= f.select :end_hour, ['12','1','2','3','4','5','6','7','8','9','10','11'] %>

    <%= f.select :end_minutes, ["00","15","30","45"]%>

    <%= f.select :end_meridiem, ["AM","PM"]%>
  </p>

  <p>
    <%= f.submit "Update Event"%>
  </p>
 
<% end %>