<% require 'algorithm_helper.rb' %>

<%= form_for @calendar_event do |f| %>
 
  <% if @calendar_event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@calendar_event.errors.count, "error") %> prohibited
        this calendar_event from being saved:
      </h2>
      <ul>
        <% @calendar_event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p> <%= f.label "Name of event:" %><br>
      <%= f.text_field :name %>
  </p>


  <p>Please give a date range of possible days you wish to have your event.</p>
  <p>
      <%= f.label "Start Date:" %><br>
      <%= f.date_select :date, :default => Time.current%>
  </p>

  <p>
      <%= f.label "End Date:" %><br>
      <%= f.date_select :date, :default => Time.current%>
  </p>

<p>
  <%= f.select :duration, ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"] %> hours<br> 
</p>

<% group_id = params["format"] %>
<% group = Group.find(group_id) %>
<% events = get_group_events(group) %>  
<% events.each do |event| %>
  <%= event.name %>
<% end %>


<% end %>