<h1>Listing events</h1>

<table>
  <tr>
    <th>Event<th>
    <th>Date</th>
    <th>Start Time</th>
    <th>Start Time</th>
  </tr>

  <% @calendar_events.each do |calendar_event| %>
    <tr>
      <td><%= calendar_event.name %></td>
      <td><%= calendar_event.date %></td>  
      <td><%= calendar_event.hour %>:<%= calendar_event.minutes %> <%= calendar_event.meridiem %></td>
      <td><%= calendar_event.end_hour %>:<%= calendar_event.end_minutes %> <%= calendar_event.end_meridiem %></td>
      <td><%= link_to 'Show', calendar_event_path(calendar_event) %></td>
      <td><%= link_to 'Edit', edit_calendar_event_path(calendar_event) %></td>
      <td><%= button_to 'Destroy', calendar_event_path(calendar_event),
              method: :delete,
              data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', welcome_homepage_path %>