<body>
    
    <div class="header">
        <div id="left">
            <h1>WhenIsBest</h1>
            <i><p id="greeting">Hi <%= current_user.first_name %>!</p></i>
            <p id="logout">Not <%= current_user.first_name %>? Click <%= link_to 'here', login_path %>.</p>
        </div>
        <div id="right">
            <button id="white-button"><%= link_to 'Settings', edit_user_path(current_user) %></button>
        </div>
    </div>
    
    <div class="create-event">
        <div class="event-header">
            <h3><% if params[:format] %>
                Suggest a new group event
            <% else %>
                Create a new event
            <% end %></h3>
            
        </div>
        
        <div class="event-body">
            
            <p>
            <% if params[:format] %>
                <%= render 'form_group' %>
            <% else %>
                <%= render 'form' %> 
            <% end %>
            <button id="white-button"><%= link_to 'Cancel', welcome_homepage_path %></button></p>
            
        </div>
    </div>

</body>