<body>
  
    <%= render "welcome/header" %>
    
    <div class="create-event">
        <div class="event-header">
            <h3><% if params[:format] %>
                Suggest a new group event
            <% else %>
                Create a new event
            <% end %></h3>
            
        </div>
        
        <div class="event-body">
            
            <p>
            <% if params[:format] %>
              <%= render 'form_group' %>
              <button id="white-button"><%= link_to 'Cancel', group_path(params[:format]) %></button></p>
            <% else %>
              <%= render 'form' %> 
              <button id="white-button"><%= link_to 'Cancel', welcome_homepage_path %></button></p>
            <% end %>
            
            
        </div>
    </div>

</body>