<p>
  <%= @calendar_event.name %>
</p>
<p>
  <strong>Date:</strong>
  <% if @calendar_event.day == nil %>
    <%= @calendar_event.date %> 
  <% else %>
    <%= @calendar_event.month %> <%= @calendar_event.day %>, <%= @calendar_event.year %>
  <% end %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @calendar_event.hour %>:<%= @calendar_event.minutes %> <%= @calendar_event.meridiem %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @calendar_event.end_hour %>:<%= @calendar_event.end_minutes %> <%= @calendar_event.end_meridiem %>
</p>

<%= link_to 'Edit', edit_calendar_event_path(@calendar_event) %> |
<%= link_to 'Back', welcome_homepage_path %>
<%= button_to 'Delete', calendar_event_path(@calendar_event),
    method: :delete,
    data: { confirm: 'Are you sure?' }%>

