<p>
  <%= @calendar_event.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @calendar_event.date["date(1i)"] %>
</p>
<p>
  <strong>Time:</strong>
  <%= @calendar_event.hour %> <%= ":" %> <%= @calendar_event.minutes %> <%= @calendar_event.meridiem %>
</p>

<%= link_to 'Edit', edit_calendar_event_path(@calendar_event) %> |
<%= link_to 'Back', welcome_homepage_path %>
<%= button_to 'Delete', calendar_event_path(@calendar_event),
    method: :delete,
    data: { confirm: 'Are you sure?' }%>

