
<body>
    
    <h1>WhenIsBest</h1>
    
    <button>Add to calendar</button>

    <div>
        <h2>Your Groups</h2>
    </div>
    
    <%= link_to 'Create new group', new_group_path %>
    
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Group members</th>
      </tr>

      <% @groups.each do |group| %>
        <tr>
            <td><%= link_to group.name, group_path(group) %></td>
            <td><%= group.description %></td>
            <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= button_to 'Destroy', group_path(group),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }%></td>
        </tr>
      <% end %>
    </table>

</body>