<body>
    
    
    <div class="header">
        <div id="left">
            <h2>WhenIsBest</h2>
            <p>Hi <%= @user.first_name %>! Let's see what your schedule looks like this week...</p>
        </div>
        <div id="right">
            <button id="white-button"><%= link_to 'Settings', edit_user_path(current_user) %></button>
        </div>
    </div>
    
    
    <div class="content">
        
        
        <div class="sidebar">

            <div class="groups">
                <h3>Your groups</h3>
                <button id="white-button"><%= link_to 'Create new group', new_group_path %></button>
                <button id="white-button"><%= link_to 'Group manager', groups_path %></button>
            </div>

            <div class="group-list">
                <table>
                  <% @groups.each do |group| %>
                    <tr>
                        <td>
                            <div id="group-item">
                                <h4><%= link_to group.name, group_path(group) %></h4>
                                <p><%= group.description %></p>
                            </div>
                        </td>
                    </tr>
                  <% end %>
                </table>
            </div>

        </div>

        
        
        <div class="calendar">
            
            <div class="calendar-header">
                <h3>Your calendar</h3>
                <button id="white-button"><%= link_to 'Add to calendar', new_calendar_event_path %></button>
            </div>
            
            <div class="calendar-body">
                <p> </p>
                <%= week_calendar do |date| %>
                <center><%= date.strftime("%b %d") %></center>
                <p> </p>
                <% end %>
            </div>
            
        </div>
    
        
    </div>
    
</body>