<%= form_for @static_page do |f| %>
 
  <% if @static_page.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@static_page.errors.count, "error") %> prohibited
        this static_page from being saved:
      </h2>
      <ul>
        <% @static_page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p> <%= f.label "Name of event:" %><br>
      <%= f.text_field :name %>
  </p>

<p>
  <%= f.select :duration, ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"] %> hours<br> 
</p>
  
 
<% end %>