<body>
    
<<<<<<< HEAD
    <div class="header">
        <div id="left">
            <h1>WhenIsBest</h1>
            <i><p id="greeting">Hi <%= current_user.first_name %>!</p></i>
            <p id="logout">Not <%= current_user.first_name %>? Click <%= link_to 'here', login_path %>.</p>
        </div>
        <div id="right">
            <button id="white-button"><%= link_to 'Settings', edit_user_path(current_user) %></button>
        </div>
    </div>
    <div style="margin-top: 70px;">
        <div class="create-event">
            <div class="event-header">
                Suggest a new group event

            </div>

            <div class="event-body">

                <%= render 'form_group' %>
                <button id="white-button"><%= link_to 'Cancel', welcome_homepage_path %></button></p>

            </div>
=======
    <%= render "welcome/header" %>

    
    <div class="create-event">
        <div class="event-header">
            Suggest a new group event
            
        </div>
        
        <div class="event-body">
            
            <%= render 'form_group' %>
            <button id="white-button"><%= link_to 'Cancel', welcome_homepage_path %></button></p>
            
>>>>>>> refs/remotes/origin/master
        </div>
    </div>
    

</body>