<div class="simple-calendar">
  <div class="calendar-heading">
      <button><%= link_to t('simple_calendar.previous', default: 'Previous Week'), calendar.url_for_previous_view %></button>
      <span class="calendar-title">Week of <%= date_range.first.strftime("%m/%d/%Y") %> - <%= date_range.last.strftime("%m/%d/%Y") %></span>
      <button><%= link_to t('simple_calendar.next', default: 'Next Week'), calendar.url_for_next_view %></button> 
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
          
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        
      <% end %>
      </tr>
    </thead>

    <tbody>
       
        <% for i in 0..23 %>
          <tr>
            <% for j in 0..6 %>
              <td><center><%=hours[i]%></center></td>
            <% end %>
          </tr>
        <% end %>
    </tbody>
      
  </table>
    
</div>
