<% require 'algorithm_helper.rb' %>

<div class="col-md-4 blog-main box text-center" id="time_slots_list_<%= time_slots_list.id %>">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= time_slots_list.group %></h3>
    </div>
    
    <div class="panel-body">
                              
      <% for i in 1..9 %>
        <div style="color: #3B82D6;"><button><%= "Monday, #{i} PM - #{i+1} PM" %></button><p></p></div>
      <% end %>
      
      <% group_id = time_slots_list.group %>
      <% if time_slots_list.event_name != "" and group_id %>
        
        <% group = Group.find(group_id) %>
        
        <% events = get_group_user_events(group) %>
      <div style="color: #3B82D6;"><button><%= "#{events.length}" %></button><p></p></div>
        
      <% end %>
      
      <br>
      
      <div class="btn-group" role="group" aria-label="...">
<!--
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdatelist_<%= time_slots_list.id %>">
          Edit
        </button>
-->
        <%= link_to 'Destroy', time_slots_list, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
    
  </div>
    
    <%= form_for(time_slots_list, :method => :put) do |f| %>
    <div class="modal fade" id="myupdatelist_<%= time_slots_list.id %>" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit</h4>
         </div>
        
         <div class="modal-body">
          <div class="field">
            <%= f.label :event_name %><br>
            <%= f.text_field :event_name, class: "form-control name" %>
          </div>
          <div class="field">
            <%= f.label :start_date %><br>
            <%= f.date_select :start_date, class: "form-control date_start" %>
          </div>
          <div class="field">
            <%= f.label :end_date %><br>
            <%= f.date_select :end_date, class: "form-control date_end" %>
          </div>
          <div class="field">
            <%= f.label :duration %><br>
            <%= f.select :duration, ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24"], class: "form-control duration" %> <%= "hours" %>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" id="myupdatebutton_<%= time_slots_list.id %>" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Update", class: "btn btn-primary" %>
        </div>
      </div>  
    </div>
    </div>
    <% end %>
</div>