<p id="notice"><%= notice %></p>

<h1>Time Slots Lists</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_slots_lists.each do |time_slots_list| %>
      <tr>
        <td><%= time_slots_list.start_date %></td>
        <td><%= time_slots_list.end_date %></td>
        <td><%= time_slots_list.duration %></td>
        <td><%= link_to 'Show', time_slots_list %></td>
        <td><%= link_to 'Edit', edit_time_slots_list_path(time_slots_list) %></td>
        <td><%= link_to 'Destroy', time_slots_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Slots List', new_time_slots_list_path %>
